<web-app>
    <servlet>
        <servlet-name>datalist</servlet-name>
        <servlet-class>DataListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>datalist</servlet-name>
        <url-pattern>/listData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addStartTime</servlet-name>
        <servlet-class>StartNewHeatingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addStartTime</servlet-name>
        <url-pattern>/heatingStarted</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>endTime</servlet-name>
        <servlet-class>EndHeatingTimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>endTime</servlet-name>
        <url-pattern>/heatingStopped</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>catDetector</servlet-name>
        <servlet-class>IsCatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>catDetector</servlet-name>
        <url-pattern>/isCat</url-pattern>
    </servlet-mapping>
</web-app>